<a href="https://colab.research.google.com/github/joswin-v-jaison/data1/blob/main/Untitled291.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
from scipy.stats import chi2_contingency, ttest_ind, ttest_rel, f_oneway
%matplotlib inline
import statsmodels.api as sm
from statsmodels.formula.api import ols
import seaborn as sns
df=pd.read_csv('/content/modcloth (1).csv')

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df.head()

   item_id       user_id  rating  ... brand  year split
0     7443          Alex       4  ...   NaN  2012     0
1     7443  carolyn.agan       3  ...   NaN  2012     0
2     7443         Robyn       4  ...   NaN  2012     0
3     7443            De       4  ...   NaN  2012     0
4     7443         tasha       4  ...   NaN  2012     0

[5 rows x 12 columns]

In [3]:
conti=pd.crosstab(df['model_attr'],df['user_attr'])

In [4]:
conti.head()

user_attr    Large  Small
model_attr
Small         7038  31800
Small&Large  11327  41361

In [5]:
df.isnull().sum()

item_id           0
user_id           1
rating            0
timestamp         0
size          21760
fit           18506
user_attr      8367
model_attr        0
category          0
brand         73980
year              0
split             0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
rating=df.pivot_table(index=['user_id'],columns=['category'],values='rating')

In [8]:
rating=rating.dropna(thresh=10,axis=1).fillna(0)

In [9]:
rating

category       Bottoms  Dresses  Outerwear  Tops
user_id
"Ferrari")         0.0      3.0        0.0   0.0
'Chelle            0.0      0.0        0.0   3.0
-L                 0.0      0.0        0.0   5.0
00erin             0.0      2.0        0.0   0.0
00izzyb            0.0      3.0        0.0   0.0
...                ...      ...        ...   ...
zombie66_79        0.0      0.0        0.0   4.0
zombiscuit         0.0      5.0        0.0   0.0
zoshia             3.0      0.0        0.0   0.0
zpsarouthakis      0.0      0.0        5.0   0.0
zuzu_zoom          0.0      4.0        0.0   0.0

[10860 rows x 4 columns]

In [10]:
itemsimilarity=rating.corr(method='pearson')

In [11]:
itemsimilarity

category    Bottoms   Dresses  Outerwear      Tops
category
Bottoms    1.000000 -0.273778  -0.084251 -0.135870
Dresses   -0.273778  1.000000  -0.233168 -0.312176
Outerwear -0.084251 -0.233168   1.000000 -0.108068
Tops      -0.135870 -0.312176  -0.108068  1.000000

In [12]:
df['modcat']=df['model_attr']+df['category']

In [13]:
df.head()

     item_id       user_id  rating  ...  year  split        modcat
328    21296         Nikki       5  ...  2013      0  SmallBottoms
329    21296         ellen       5  ...  2013      0  SmallBottoms
340    21296        Sarita       5  ...  2013      0  SmallBottoms
351    21296      kacikorn       4  ...  2013      0  SmallBottoms
361    21296  lesleydawn88       4  ...  2013      0  SmallBottoms

[5 rows x 13 columns]

In [14]:
rating=df.pivot_table(index=['user_id'],columns=['modcat'],values='rating')

In [15]:
rating=rating.dropna(thresh=10,axis=1).fillna(0)

In [16]:
rating

modcat         Small&LargeBottoms  ...  SmallTops
user_id                            ...
"Ferrari")                    0.0  ...        0.0
'Chelle                       0.0  ...        3.0
-L                            0.0  ...        5.0
00erin                        0.0  ...        0.0
00izzyb                       0.0  ...        0.0
...                           ...  ...        ...
zombie66_79                   0.0  ...        0.0
zombiscuit                    0.0  ...        0.0
zoshia                        0.0  ...        0.0
zpsarouthakis                 0.0  ...        0.0
zuzu_zoom                     0.0  ...        0.0

[10860 rows x 8 columns]

In [17]:
itemsimilarity=rating.corr(method='pearson')

In [18]:
itemsimilarity

modcat                Small&LargeBottoms  ...  SmallTops
modcat                                    ...
Small&LargeBottoms              1.000000  ...   0.023922
Small&LargeDresses             -0.067457  ...  -0.097092
Small&LargeOuterwear           -0.013747  ...  -0.020460
Small&LargeTops                -0.007503  ...  -0.019434
SmallBottoms                    0.034991  ...  -0.009718
SmallDresses                   -0.031425  ...  -0.048674
SmallOuterwear                  0.027463  ...   0.026843
SmallTops                       0.023922  ...   1.000000

[8 rows x 8 columns]

In [19]:
def getsimilarproducts(mm,rating):
  sm=itemsimilarity[mm]*(rating-2.5)
  sm=sm.sort_values(ascending=False)
  return sm

In [20]:
ac=[('Small&LargeDresses',5)]

In [21]:
smt=pd.DataFrame()
for modcat,rating in ac:
  smt=smt.append(getsimilarproducts(modcat,rating),ignore_index=True)

In [22]:
print("People who bought{} also purchased".format(ac[0][0]))
smt.sum().sort_values(ascending=False)

People who boughtSmall&LargeDresses also purchased

Small&LargeDresses      2.500000
SmallOuterwear         -0.066874
Small&LargeBottoms     -0.168642
SmallTops              -0.242730
Small&LargeTops        -0.269715
SmallBottoms           -0.272790
Small&LargeOuterwear   -0.294942
SmallDresses           -0.295832
dtype: float64